<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Bookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-secondary text-light">
    <header>@*header with stuff in it - navigation and stuff*@
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Bookstore</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a href="#" class="nav-link">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="row m-1 p-1">
        <div class="text-center col-3 align-middle">
            <h1 class="display-4">Bookstore</h1>
            <p class="h6">Please feel free to browse the library</p>
            <vc:navigation-menu /> @*This is translated from the NavigationMenuViewComponent into vc:navigation-menu (just switch from camel case to a dash between the words - coding by convention)*@
        </div>

        <div class="col-9">
            @RenderBody()
        </div>
    </div>

    <footer class="footer bg-dark">
        <div class="container">
            <span class="text-muted">&copy;2021 ProfHilton Assignments</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
