@{
    ViewData["Title"] = "Home"; //ViewBag stores properties - The "ViewData" class is a dictionary that stores: Objects
}

@model BookListViewModel


<div class="card text-left bg-dark text-light">
    @* had more fun with this and created a div that made a div with tab navigation instead of buttons, just for fun *@
    <div page-model="@Model.PagingInfo"
         page-action="Index"
         page-classes-enabled="true"
         page-class=""
         page-class-normal="nav-link"
         page-class-selected="nav-link active bg-secondary border-secondary"
         div-class="card-header"
         list-class="nav nav-tabs card-header-tabs text-light"
         list-item-class="nav-item"
         page-url-category="@Model.CurrentCategory"
         class="card-header">
    </div>
    <div class="card-body bg-secondary">
        <div class="d-flex flex-wrap">
            @foreach (var book in Model.Books)
            {
                <partial name="BookSummary" model="book"/> //render a component here - similar to React
            }
        </div>
    </div>
</div>
